.info {
	font-size: 80%;
}
td {
	vertical-align: top;
}

pre {
	max-width: 800px;
	max-height: 300px;
	overflow: auto;
}
div.toolContainer {
	float: left;
	margin: 1em;
}
div.success, div.info {
	display: inline-block;
	padding: 1em;
	margin: 2em;
	border: 1px solid grey;
	background-color: rgb(200,255,200);
	color: black;
	font-weight: bold;
	min-width: 30em;
}
div.info {
	background-color: rgb(217, 237, 247);
	color: black;
	font-weight: normal;
	min-width: 30em;
	font-size: 80%;
	margin: 1em;
}
div.clear {
    display: block;
    clear: both;
}

.document label {
	color: #888;
	font-size: 0.9em;
}
.document iframe {
	width: 90%;
	height: 450px;
	margin: 1em;
	margin-left: 2em;
}
.document p {
	white-space: nowrap;
}
.document h4 {
	margin-top: 0;
	padding-top: 2em;
	clear: both;
}
.document h5 {
	margin: 0; 
	padding 0;
	margin-bottom: 0.2em;
}
.document h6 {
	margin: 0; 
	padding 0;
	padding-bottom: 0.1em;
	padding-top: 0.3em;
}
.document label {
	width: 200px;
	text-align: right;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 2em;
	vertical-align: bottom;
	cursor: default;
}	
.document p {
	margin: 0;
	padding: 0;
	margin-bottom: 0.1em;
}
.document .facts {
	background-color: #eee;
	border-radius: 10px;
	padding: 1em;
	min-width: 300px;
}
.document li { list-style-type: none; }
.document .facts label {
	width: 300px;
	text-align: left;
}
.document .fields {
	min-width: 600px;
}
.document .facts, .document .fields {
	float: left;
}
.document .facts {
	margin-left: 4em;
}
h6, h5, h4, h3, h2, h1 {
	clear: both;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#entry h4 {
	font-size: 1em;
}

div.refreshed {
	position: absolute;
	left: 5px;
	top: 2px;
	font-size: 0.7em;
}
.ui-button {
	font-size: 0.8em;
}
#login .ui-button {
	font-size: 1.1em;
}
h4 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}
input, select, label {
	width: auto;
	margin-right: 1em;
	vertical-align: middle;
}
select {
	width: 200px;
}
#tools > ul > li {
	list-style-type: none;
	margin-bottom: 2em;
}
#tools label {
	width: 170px;
	display: inline-block;
}
.hasErrors, .hasErrors a {
	color: red;
}
.hasWaiting a {
	color: rgb(0, 200, 200);
}

table {
	border-collapse: collapse;
}
table td, table th {
	border: 1px solid #aaa;
	padding: 0.2em;
	font-size: 0.8em;
}
table th {
	background-color: rgb(222, 237, 247);
}

table a {
	text-decoration: underline;
}

table#login td {
	border-style: none;
	padding: 3px;
}

table#threadStatuses {
	width: 700px;
}
table#threadStatuses td {
	max-width: 200px;
}
table#threadStatuses td.statusline {
	width: 200px;
}

.document .image {
  margin-left: 200px;
  background-color: #eee;
  border-radius: 10px;
  padding: 1em;
}
.document .image img {
  display: block;
  margin-bottom: 0.5em;
}
.document .image label {
  margin: 0.3em;
  display: inline-block;
  width: 70px;
  text-align: left;
}

