.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
	display: none;
}

#userinfo li {
	float: right;
	list-style: none;
	display: block;
	margin: 3px;
}
#userinfo .name {
	font-weight: bold;
}
#userinfo .ui-button-text {
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-variant: small-caps;
}
span.ui-icon {
	display: inline-block;
}

.helpPage {
	margin: auto;
}

ul#questionsAndAnswers li {
	list-style-type: none;
	margin-bottom: 20px;
}
ul#questionsAndAnswers li p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	margin-bottom: 4px;
	max-width: 550px;
}
ul#questionsAndAnswers li p .qa {
	display: inline-block;
	width: 30px;
	font-weight: bold;
}

#login input {
	width: 170px;
	font-size: 12px;
	font-family: monospace;
	padding: 5px;
	margin-left: 5px;
}
#login .error {
	font-variant: small-caps;
	color: rgb(200, 100, 150);
	text-align: center;
}
label {
	vertical-align: top;
}
label.error {
	color: rgb(200, 100, 150);
	width: auto;
	margin-left: 5px;
}

.helpPage {
	max-width: 800px;
}
.info {
	font-size: 90%;
	max-width: 300px;
	display: block;
	margin: 10px;
	white-space: normal;
}
.important {
	font-size: 100%;
	font-weight: bold;
}

#servicelist li {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: inline-block;
	padding: 5px;
}
#servicelist li:hover {
	background-color: rgb(228, 241, 251);
	border-radius: 10px;
}
.flashMessage, .successMessage {
	padding: 10px;
	display: block;
	margin: 10px;
	border: 1px dotted grey;
}
.successMessage {
	background-color: rgb(200,250,200);
	font-color: rgb(50,100,50);
}
.errorMessage {
	border: 1px dotted red;
	color: rgb(221, 93, 93);
}
.warningMessage {
	border: 1px dotted yellow;
	color: rgb(229, 198, 0);
}
.validationResults {
	font-size: 130%;
}
.validationResults td {
	padding: 5px;
	padding-right: 10px;
}
h4.errorMessage {
	border-style: none;
	color: red;
	font-size: large;
}

select[disabled] {
    color: rgb(55, 55, 55);
    background-color: rgb(221, 221, 221);
    border-style: solid;
}
.chosen-disabled  {
    color: rgb(55, 55, 55);
    background: none !important;
    background-color: rgb(221, 221, 221);
}

